*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
}
body{
    display: flex;
    flex-wrap: nowrap;
}
/* Start comments section style */
.comments{
    margin: 2rem;
}
.comments h2{
    font-weight: bold;
    font-size: 2rem;
    color: #A71313;
}
.comments input{
    margin-top: 0.5rem;
    padding: 1rem;
    width: 19.9rem;
    height: 2rem;
    background-color: #E8BFBF ;
    border: none;
    border-radius: 0.3rem;
}
.comments textarea{ 
    padding: 1rem;
    margin-top: 0.5rem;
    width: 40rem;
    height: 15rem;
    resize: none;
    background-color: #E8BFBF ;
    border: none;
    border-radius: 0.3rem;
}
.comments button{
    margin-top: 0.5rem;
    width: 40rem;
    height: 3rem;
    background-color: #A71313;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.first-comment{
    background-color: #E8BFBF;
    padding: 1rem;
    margin-top: 0.5rem;
    width: 40rem;
    color: #000;
    border-radius: 0.3rem;
}
.username{
    font-weight: bold;
}
.time{
    position: absolute;
    margin-top: -1rem;
    margin-left: 33.5rem;
    display: inline;
}
.comment{
    margin-top: 0.5rem;
}
/* End comments section style */

/* Start More Relative style */
.more-relative {
    
    margin: 2rem;
    background-color: #E5E5E5;
    padding: 1rem;
}
.more-relative h2 {
    font-weight: bold;
    font-size: 2rem;
    color: #A71313;
}
.posts{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.post{
    background-color: #EEEEEE;
    width: 20rem;
    margin-bottom: 1rem;
    border: 1px solid black;
}
.post figure img{
     width: 100%;
}
.post p {
    margin: .5rem;
    font-size: 1.5rem;
}
/* End More Relative style */